* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#form {
	background: #999;
	padding: 2rem;
	text-align: center;
}

#form input {
	display: block;
	text-align: center;
}

#form .form-group {
	margin: 0.5rem 0;
}

#form input[type="submit"] {
	width: 100%;
	padding: 0.2rem;
	background: #666;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container ul.items {
	list-style: none;
	width: 100%;
}

.container ul li {
	background: #666;
	margin: 0.5rem 0;
	width: 100%;
}

.bgColor {
	background: #000;
}

.redWarning {
	color: red;
}

.greenSuccess {
	color: green;
}